# Dependencias
node_modules/

# Variables de entorno
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Build / cobertura
dist/
coverage/

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Prisma local
prisma/.env
